/*=======================================
            CARDS - BASES
=======================================*/

/*O estilo foram desenvolvidos com o princípio de "Mobile First", então os estilos bases são aplicados
diretamente sobre as versões de dispositívos móveis. Acima de 1024px de largura existe modificações nas clases bases.
===================================================================================================================*/


/*A classe "menu-grid" define o espaço onde os cards vão aparecer, modificações na propriedade 
"grid-template-colums" permite aumentar o númeo de cards exibidos lado a lado.*/
.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 0.5rem;
}



/* "product-card* é a classe básica dos cards, ela define os estilos padrões a todos os cards, como cor de fundo, sombra,
espaçamento e raio da borda. Essa classe "cresce" verticalmente conforme os elementos dentro dela e sua
largura é fixa, definida pela largura da imagem da classe "card-image-container", para alterar o largura é necessário modificar as
dimensões da imagem.*/
.product-card{
    display: grid;
    grid-template-columns: 1fr;

    background-color: white;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    row-gap: 1rem;
}



/*A "card-imagem-container" controla a moldura da imagem dentro do card, para aumentar a largura do "product-card" é necessário
mudar o aspect-radio*/
.product-card .card-image-container{
    padding: 1rem;
    padding-bottom: 0;
    aspect-ratio: 4 / 3;
}



/* Essa classe faz com que a imagem fique encapsulada dentro do molde definido na classe "card-image-container" além de definir 
estilos */
.product-card .card-image-container img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}



.name-price-row{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
}



.product-name {
    margin: 0px 1rem;
    justify-self: start;


    font-family: 'LouisGeorgeCafe',sans-serif;
    font-weight: bold ;
    font-style: normal;
    font-size: 20px;
    -webkit-text-stroke: 0.7px var(--color03);
    color: var(--color03);
}



.price-measure{
    justify-self: end;
    margin: 0px 1rem;
    color: var(--color03);
    white-space: nowrap;
}



.product-price {
    font-weight: lighter ;
    font-style: normal;
    font-size: 30px;
    color: var(--color03);
    margin: 0px;
}



.product-measure{
    font-weight: bold ;
    font-style: normal;
    -webkit-text-stroke: 0.5px var(--color03);
    font-size: 15px;
}



.product-info {
    margin: 0 1rem;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    -webkit-text-stroke: 0.5px var(--color08);
    color: var(--color08);
}



.card-actions-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 1rem;
}



/*=======QUANTITY SELECTOR=======*/
.quantity-selector {
    display: flex;
    justify-self: start;
    border-radius: 4rem;
    background-color: var(--color08);
    aspect-ratio: 3 / 1;
    height: 4rem;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.quantity-selector button{
    display: flex;
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    height: 80%;
    object-fit: contain;
    margin: 5px;

    justify-content: center;
    align-items: center;
}

.quantity-selector img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}
/*===============================*/



/*==========ADD-TO-CART==========*/
.add-to-cart-button {
    display: flex;
    justify-self: end;
    background-color: #229537;
    border: none;
    cursor: pointer;
    aspect-ratio: 1.5 / 1 ;
    height: 4rem;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;

    justify-content: center;
    align-items: center;
}

.add-to-cart-button img{
    height: 80%;
    width: 80%;
    object-fit: contain; 
}
/*===============================*/



.card-size-selector-container{
    display: grid;
    grid-template-columns: auto auto;
}

.card-size-selector-container .size-button{
    background-color: var(--color08);
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    transition: background-color 0.6s ease,
                color 0.6s ease;
}

.size-button.button-selected{
    background-color: var(--color03);
}

.card-flavor-selector-container{
    display: grid;
    margin: 0 1rem;
}


/*------------------------
=======CARD-TYPE-02=======
--------------------------
Nesse card é usado a tag "size-selected", ela permite a exibição interativa das informaçõs do produto.
Por exemplo, o produto de id="qundim" possui dois tamanhos - MINI e TRADICIONAL - cada um com preços e pesos únicos, os quais a
exibição é feita através da tag mencionada. Além disso, é tag serve de controle para permitir a adição do produto ao carrinho
apenas quanto um dos tamanhos for selecionados.
Por padrão, o card-type-02 conta 5 linhas, sendo elas: card-image-container, card-name-price-container, card-info-row.weight-info,
card-size-selector e card-actions-container.
*/

/*-----DISABLE VIEW-----*/
.card-type-02 .card-name-price-container .name-price-row .price-measure,
.card-type-02 .card-info-row.weight-info{
    display: none;
}

.card-type-02 .quantity-selector,
.card-type-02 .add-to-cart-button{
    background-color: #BEBEBE;
}

.card-type-02 .quantity-selector img{
    opacity: 0.3;
}

/*-----ENABLE VIEW-----*/
.card-type-02.size-selected .card-name-price-container .name-price-row .price-measure,
.card-type-02.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-02.size-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-02.size-selected .quantity-selector{
    background-color: var(--color08);
}

.card-type-02.size-selected .quantity-selector img {
    opacity: 1;
}

.card-type-02.size-selected .product-price{
    display: inline;
}



/*------------------------
=======CARD-TYPE-03=======
--------------------------
A exibição dos campos nesse card é feito através das tags "size-selected" e "flavor-selected". Ao total o card-type-03 tem
7 linhas, as quais são: card-image-container, card-name-price-container, card-flavor-selector-container, card-info-row.weight-info,
card-flavor-selector-container, card-info-row.flavor-info e card-actions-container.
Lógica de interação: Quando o usuário seleciona o tamanho a tag "size-selected" é injetada e as divs price-measure, 
card-info-row.weight-info e card-flavor-selector são exibidas. Dessa forma, o usuário consegue escolher o sabor do produto (card-flavor-selector)
e visualizar o preço e peso unitário conforme o tamanho selecionado (price-measure .card-info-row.weight-info). A seleção do sabor
injeta a tag "flavor-selected", a qual exibe o seletor de quantidade (card-actions-container .quantity-selector) e o botão de adicionar
ao carrinho (add-to-cart-button button).
*/

/*-----DISABLE VIEW-----*/
.card-type-03 .price-measure,
.card-type-03 .flavor-info,
.card-type-03 .card-info-row.weight-info,
.card-type-03 .card-flavor-selector-container{
    display: none;
}

.card-type-03 .quantity-selector,
.card-type-03 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
/*Exibe o preço e a unidade de venda*/
.card-type-03.size-selected .price-measure{
    display: inline;
}

/*Exibe a informação do peso*/
.card-type-03.size-selected .card-info-row.weight-info{
    display: block;
}

/*Exibe a descrição do sabor selecionado*/
.card-type-03.size-selected.flavor-selected .flavor-info{
    display: block;
}

/*Exibe a container de seleção do sabor*/
.card-type-03.size-selected .card-flavor-selector-container{
    display: grid;
}

.card-type-03.size-selected.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-03.size-selected.flavor-selected .quantity-selector{
    background-color: var(--color08);
}



/*------------------------
=======CARD-TYPE-04=======
--------------------------
Nessa card não há campos omitidos da visualização, apenas desabilitados até a seleção do sabor (card-flavor-selector).
Quando o sabor é escolhido, a tag "flavor-selected" é injetada, o que permite que o card-actions-container seja clicavel.
Com isso, o usuário pode escolher a quantidade do produto (quantity-selector) e adicionar ao carrinho (add-to-cart-button).
Possui 4 linhas, as quais são: card-image-container, card-name-price-container, card-flavor-selector-container e card-actions-container.
*/

/*-----DISABLE VIEW-----*/
.card-type-04 .quantity-selector,
.card-type-04 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.card-type-04.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-04.flavor-selected .quantity-selector{
    background-color: var(--color08);
}



/*------------------------
=======CARD-TYPE-05=======
--------------------------
Nessa card, a seleção do sabor permite a exibição do preço (price-measure), das informações sobre o sabor (card-info-row.flavor-info) e
a escolha da quantidade deseja (quantity-selector) e posteriormente compra do produto (add-to-cart-button). Todas as informações são
separadas em 6 linhas, são elas: card-image-container, card-name-price-container, .card-info-row.weight-info, .card-flavor-selector-container, .card-info-row.flavor-info
 e card-actions-container.
*/

/*-----DISABLE VIEW-----*/
.card-type-05 .card-info-row.flavor-info,
.card-type-05 .price-measure {
    display: none;
}

.card-type-05 .quantity-selector,
.card-type-05 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.card-type-05.flavor-selected .price-measure{
    display: inline;
}

.card-type-05.flavor-selected .card-info-row.flavor-info{
    display: block;
}

.card-type-05.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-05.flavor-selected .quantity-selector{
    background-color: var(--color08);
}


/*------------------------
=======CARD-TYPE-06=======
--------------------------
Esse card usa a tag "all-flavor-selected" para permitir a compra do produto.
O usuário seleciona os dois sabores no "card-flavor-container" e a opção de compra é habilitada.
Importante, para a compra de duas unidades do produto, é necessário que as ações sejam feitas individualmente, ou seja,
o usuário monta uma pizza e adiciona ao carrinho, o card renicia a exibição e permite a compra de outra pizza.
Possu 4 linhas, as quais são: card-image-container, card-name-price-container, card-flavor-selector-container e card-actions-container.
*/

/*Possiciona o botão de adicionar ao carrinho na extremiadad direita do card*/
.card-type-06 .card-actions-container{
    display: grid;
    grid-template-columns: auto;
    justify-items: end;
}

/*-----DISABLE VIEW-----*/
.product-card.card-type-06 .card-flavor-selector-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
}

.product-card.card-type-06 .card-info-row .product-info{
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

.card-type-06 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.product-card.card-type-06.all-flavors-selected .add-to-cart-button{
    background-color: #229537;
}


/*------------------------
=======CARD-TYPE-07=======
--------------------------
Esse card usa as tags "flavor-selected" e "size-selected" para exibição das linhas, as quais são 7, sendo elas:card-image-container,
card-name-price-container, .card-flavor-selector-container, .card-info-row.weight-info,  .card-flavor-selector-container, .card-info-row.flavor-info
e card-actions-container. A seleção do tamanho injeta a tag "size-selected" que exibe o peso (.card-info-row.weight-info) e o seletor do sabor (.card-flavor-selector-contianer).
A seleção do sabor injeta a tag "flavor-selected", que libere a exibição do preço e unidade de venda (price-measure) e permite a compra do produto ( card-actions-container).
*/

.card-type-07 .card-actions-container{
    display: grid;
    grid-template-columns: auto;
    justify-items: end;
}

/*-----DISABLE VIEW-----*/
.product-card.card-type-07 .card-name-price-container .price-measure,
.product-card.card-type-07 .card-info-row.weight-info,
.product-card.card-type-07 .card-flavor-selector-container,
.product-card.card-type-07 .card-info-row.flavor-info{
    display: none;
}

.card-type-07 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.product-card.card-type-07.size-selected .card-info-row.weight-info,
.product-card.card-type-07.size-selected .card-flavor-selector-container{
    display: grid;
}

.product-card.card-type-07.size-selected.flavor-selected .card-info-row.flavor-info,
.product-card.card-type-07.size-selected.flavor-selected .price-measure{
    display: block;
}

.product-card.card-type-07.size-selected.flavor-selected .add-to-cart-button{
    background-color: #229537;
}



/*------------------------
=======CARD-TYPE-08=======
--------------------------
Esse card usa a tag "size-selected" para exibição do peso do tamanho selecionado (card-info-row.weight-info) e para habilitação do botão
de adicionar ao carrinho (add-to-cart-button). Contém 6 linhas, as quais são: .card-image-container, .card-name-price-container, .card-info-row.flavor-info,
.card-size-options-selectior-container, .card-info-row.weight-info e .card-price-button.
*/

.card-type-08 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-size-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

.card-price-button{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-price-button .price-measure{
    justify-self: start;
    margin: 0px;
}

/*-----DISABLE VIEW-----*/
.product-card.card-type-08 .card-info-row.weight-info{
    display: none;
}

.product-card.card-type-08 .card-price-button button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.product-card.card-type-08.size-selected .card-info-row.weight-info{
    display: block;
}

.product-card.card-type-08.size-selected .card-price-button button{
    background-color: #229537;
}


/*------------------------
=======CARD-TYPE-09=======
--------------------------
Esse card usa as tags "style-selected" e "size-selected" da seguinte forma: "style-selected" é injetada
a partir da seleção do estilo.
*/

.card-style-selector-container{
    display: grid;
    grid-template-columns: auto auto;
}

.card-type-09 .card-info-row.weight-info .product-info,
.card-type-09 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-style-selector-container .style-button{
    background-color: var(--color08);
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    transition: background-color 0.6s ease,
                color 0.6s ease;
}

.card-style-selector-container .style-button.button-selected{
    background-color: var(--color03);
    color: white;
}

/*-----DISABLE VIEW-----*/
.card-type-09 .card-info-row.weight-info{
    display: none;
}

.card-type-09 .card-price-button button{
    background-color: #BEBEBE;
}

.card-type-09 .card-size-options-selector-container{
    display: none;
}

/*-----ENABLE VIEW-----*/
.card-type-09.style-selected .card-size-options-selector-container{
    display: grid;
}
.card-type-09.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-09.style-selected.size-selected .card-price-button button{
    background-color: #229537;
}



/*------------------------
=======CARD-TYPE-10=======
--------------------------
*/

.card-extra-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

/*-----DISABLE VIEW-----*/
.card-type-10 .card-info-row.weight-info,
.card-type-10 .card-extra-options-selector-container,
.card-type-10 .card-size-options-selector-container{
    display: none;
}

.card-type-10 .card-price-button button{
    background-color: #BEBEBE;
}

/*-----ENABLE VIEW-----*/
.card-type-10.style-selected .card-size-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-extra-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-10.style-selected.size-selected.extra-selected .card-price-button button{
    background-color: #229537;
}

/*------------------------
=======CARD-TYPE-11=======
--------------------------
*/

/*-----DISABLE VIEW-----*/
.card-type-11 .card-price-button button{
    background-color: #BEBEBE;
}

.card-type-11 .card-info-row.flavor-info{
    display: none;
}

/*-----ENABLE VIEW-----*/
.card-type-11.flavor-selected .card-info-row.flavor-info{
    display: block;
}

.card-type-11.flavor-selected .card-price-button button{
    background-color: #229537;
}

/*===================================================================================================================
                                        Modificações para diferentes dispositivos*/

/*===================================================
            TABLET VIEW: min-width: 1024px.
=====================================================*/
@media (min-width: 1024px){
    .menu-grid{
        display: block;
        column-count: 3;
    
        grid-template-columns: none;
    }

    .product-card{
        break-inside: avoid;
        margin-bottom: 1.5rem ;
    }

}


/*===================================================
            DESKTOP VIEW: min-width: 1440x.
=====================================================*/
@media (min-width: 1440px){
    .menu-grid{
        column-count: 4;
    }

    .product-card{
        transition: transform 0.6s ease;
    }

    .product-card:hover{
        transform: scale(1.015);

    }

}