/*Posicionamento exclusivo para o produto torta-quiche
.card-actions-container.torta-quiche{
    display: flex;
    justify-content: end;
}

.card-actions-container.torta-quiche .add-to-cart-button{
    aspect-ratio: 2 / 1;
}

.card-actions-container.torta-quiche .add-to-cart-button img{
    height: 90%;
    width: 90%;
}

*/

/*================CARD-TYPE-05=============*/

/* DISABLE VIEW*/

.card-type-05 .card-info-row.flavor-info,
.card-type-05 .price-measure {
    display: none;
}

.card-type-05 .quantity-selector,
.card-type-05 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/
.card-type-05.flavor-selected .price-measure{
    display: inline;
}

.card-type-05.flavor-selected .card-info-row.flavor-info{
    display: block;
}

.card-type-05.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-05.flavor-selected .quantity-selector{
    background-color: var(--color08);
}

/*================CARD-TYPE-06=============*/

.product-card.card-type-06 .card-flavor-selector-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
}

.product-card.card-type-06 .card-info-row .product-info{
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

/* DISABLE VIEW*/

.card-type-06 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-06.all-flavors-selected .add-to-cart-button{
    background-color: #229537;
}

/*================CARD-TYPE-07=============*/

/* DISABLE VIEW*/

.product-card.card-type-07 .card-name-price-container .price-measure,
.product-card.card-type-07 .card-info-row.weight-info,
.product-card.card-type-07 .card-flavor-selector-container,
.product-card.card-type-07 .card-info-row.flavor-info{
    display: none;
}

.card-type-07 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-07.size-selected .card-info-row.weight-info,
.product-card.card-type-07.size-selected .card-flavor-selector-container{
    display: block;
}

.product-card.card-type-07.size-selected.flavor-selected .card-info-row.flavor-info,
.product-card.card-type-07.size-selected.flavor-selected .price-measure{
    display: block;
}

.product-card.card-type-07.size-selected.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

/*================CARD-TYPE-08=============*/


.card-type-08 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-size-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

.card-price-button{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-price-button .price-measure{
    justify-self: start;
    margin: 0px;
}

/* DISABLE VIEW*/

.product-card.card-type-08 .card-info-row.weight-info{
    display: none;
}

.product-card.card-type-08 .card-price-button button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-08.size-selected .card-info-row.weight-info{
    display: block;
}

.product-card.card-type-08.size-selected .card-price-button button{
    background-color: #229537;
}



/*================CARD-TYPE-09=============*/

.card-style-selector-container{
    display: grid;
    grid-template-columns: auto auto;
}
.card-type-09 .card-info-row.weight-info .product-info,
.card-type-09 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-style-selector-container .style-button{
    background-color: var(--color08);
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    cursor: pointer;


    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: white;

    transition: background-color 0.6s ease,
                color 0.6s ease;
}

.card-style-selector-container .style-button.button-selected{
    background-color: var(--color03);
    color: white;
}


/* DISABLE VIEW*/

.card-type-09 .card-info-row.weight-info{
    display: none;
}

.card-type-09 .card-price-button button{
    background-color: #BEBEBE;
}

.card-type-09 .card-size-options-selector-container{
    display: none;
}

/* ENABLE VIEW*/

.card-type-09.style-selected .card-size-options-selector-container{
    display: grid;
}
.card-type-09.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-09.style-selected.size-selected .card-price-button button{
    background-color: #229537;
}

/*================CARD-TYPE-10=============*/

.card-extra-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

/* DISAABLE VIEW*/

.card-type-10 .card-info-row.weight-info,
.card-type-10 .card-extra-options-selector-container,
.card-type-10 .card-size-options-selector-container{
    display: none;
}

.card-type-10 .card-price-button button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.card-type-10.style-selected .card-size-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-extra-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-10.style-selected.size-selected.extra-selected .card-price-button button{
    background-color: #229537;
}


/*===================================================
            TABLET VIEW: min-width: 1024px.
=====================================================*/

@media (min-width: 1024px){

    /*=======================================
                    CARD
    =======================================*/
    .menu-grid{
        display: block;
        column-count: 3;
    
        grid-template-columns: none;
    }

    .product-card{
        break-inside: avoid;
        margin-bottom: 1.5rem ;
    }

}

/*===================================================
            DESKTOP VIEW: min-width: 1440x.
=====================================================*/
@media (min-width: 1440px){








    /*=======================================
                    CARDS
    =======================================*/
    .menu-grid{
        column-count: 4;
    }

    .product-card{
        transition: transform 0.6s ease;
    }

    .product-card:hover{
        transform: scale(1.015);

    }

}