
/*================CARD-TYPE-10=============*/

.card-extra-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

/* DISAABLE VIEW*/

.card-type-10 .card-info-row.weight-info,
.card-type-10 .card-extra-options-selector-container,
.card-type-10 .card-size-options-selector-container{
    display: none;
}

.card-type-10 .card-price-button button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.card-type-10.style-selected .card-size-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-extra-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-10.style-selected.size-selected.extra-selected .card-price-button button{
    background-color: #229537;
}


/*===================================================
            TABLET VIEW: min-width: 1024px.
=====================================================*/

@media (min-width: 1024px){

    /*=======================================
                    CARD
    =======================================*/
    .menu-grid{
        display: block;
        column-count: 3;
    
        grid-template-columns: none;
    }

    .product-card{
        break-inside: avoid;
        margin-bottom: 1.5rem ;
    }

}

/*===================================================
            DESKTOP VIEW: min-width: 1440x.
=====================================================*/
@media (min-width: 1440px){








    /*=======================================
                    CARDS
    =======================================*/
    .menu-grid{
        column-count: 4;
    }

    .product-card{
        transition: transform 0.6s ease;
    }

    .product-card:hover{
        transform: scale(1.015);

    }

}