:root{
    --color01: #c37960;
    --color02: #f0d7a7;
    --color03: #82652F;
    --color04: #eee1ba;
    --color05: #9c634f;
    --color06: #fff0db;
    --color07: #faf0e6;
    --color08: #D9B167;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/LouisGeorgeCafeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/LouisGeorgeCafeLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/LouisGeorgeCafeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/LouisGeorgeCafeBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url(/fontes/Inter-ExtraBold.woff2) format('woff2');
    font-weight: bolder;
    font-style: normal;
}


body {
    background-color: var(--color08);
    margin: 0px;   

}

/*=======================================
                HEADER
=======================================*/

header{
    display: grid;
    align-items: center;
    background-color: white;
       
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.header-left-segment {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;

}

.header-left-segment nav{
    justify-self: start;
}


.header-logo{
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;

    justify-self: center;
}


.header-info-bars{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;
    
    justify-self: start;

}

.header-info-bars img{
    width: 25px;
    display: block;

}

.header-cart{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;

    justify-self: end;

}

.header-cart img{
    width: 25px;
    display: block;


}

.header-actions-tablet {
    display: none;
}

.header-right-segment {
    display: none;
}

.header-links-tablet{
    display: none;
}


/*=======================================
                SLIDER
=======================================*/

.container {
    display: block;
    padding: 1rem;

}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    transition: transform ease 1s;

}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.slider::-webkit-scrollbar {
    display: none;

}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:  1.25rem;
    left: 50%;
    transform:  translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover {
    opacity: 1;
}

.side-images{
    display: none;
}


/*=======================================
                MENU SELECTION
=======================================*/

.main-menu {
    background-color: white;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.main-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap:3rem;
}

.main-menu li a{
    padding: 5px;
    text-decoration: none;

    font-family: 'LouisGeorgeCafe', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: black;

    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu li a.active-category {
    background-color: #894e3f;
    color: white;
}

.category-section{
    display: none;
}

.category-section.category-visible{
    display: block;
}

/*=======================================
                CARDS
=======================================*/

.menu-grid{
    display: grid;
    gap: 1rem;
    margin: 0 0.5rem;

    grid-template-columns: 1fr;
    
}

.product-card{
    display: grid;
    grid-template-columns: 1fr;

    background-color: white;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}


.product-card .card-image-container{
    padding: 1rem;
    padding-bottom: 0;
    aspect-ratio: 4 / 3;

}

.product-card .card-image-container img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    
}

.name-price-row{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
}

.product-name {
    margin: 0px 1rem;
    justify-self: start;


    font-family: 'LouisGeorgeCafe',sans-serif;
    font-weight: bold ;
    font-style: normal;
    font-size: 20px;
    -webkit-text-stroke: 0.7px var(--color03);
    color: var(--color03);
}

.price-measure{
    justify-self: end;
    margin: 0px 1rem;
    color: var(--color03);
    white-space: nowrap;
}

.product-price {
    font-family: 'LouisGeorgeCafe',sans-serif;
    font-weight: lighter ;
    font-style: normal;
    font-size: 30px;
    color: var(--color03);
    margin: 0;
}

.product-measure{
    font-family: 'LouisGeorgeCafe',sans-serif;
    font-weight: bold ;
    font-style: normal;
    -webkit-text-stroke: 0.5px var(--color03);
    font-size: 15px;

}

.product-info {
    margin: 0 1rem;
    font-family: 'LouisGeorgeCafe',sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    -webkit-text-stroke: 0.5px var(--color08);
    color: var(--color08);
    
}

.card-actions-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 1rem;
}


/*Posicionamento exclusivo para o produto torta-quiche*/
.card-actions-container.torta-quiche{
    display: flex;
    justify-content: end;

}

.card-actions-container.torta-quiche .add-to-cart-button{
    aspect-ratio: 2 / 1;
}

.card-actions-container.torta-quiche .add-to-cart-button img{
    height: 90%;
    width: 90%;
}

.quantity-selector {
    display: flex;
    justify-self: start;
    border-radius: 4rem;
    background-color: var(--color08);
    aspect-ratio: 3 / 1;
    height: 4rem;
    justify-content:space-between;
    align-items: center;
    
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);

    font-family: 'LouisGeorgeCafe';
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.quantity-selector button{
    display: flex;
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    height: 80%;
    object-fit: contain;
    margin: 5px;

    justify-content: center;
    align-items: center;

}

.quantity-selector img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}


.add-to-cart-button {
    display: flex;
    justify-self: end;
    background-color: #229537;
    border: none;
    cursor: pointer;
    aspect-ratio: 1.5 / 1 ;
    height: 4rem;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;

    justify-content: center;
    align-items: center;

}

.add-to-cart-button img{
    height: 80%;
    width: 80%;
    object-fit: contain;
    
}

.card-size-selector-container{
    display: grid;
    grid-template-columns: auto auto;
}

.card-size-selector-container .size-button{
    background-color: var(--color08);
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    cursor: pointer;

    font-family: 'LouisGeorgeCafe', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: white;

    transition: background-color 0.6s ease,
                color 0.6s ease;
}

.size-button.button-selected{
    background-color: var(--color03);
    color: white;
}

.card-flavor-selector-container{
    display: grid;
    margin: 0 1rem;
}

/*================CARD-TYPE-01=============*/


/*================CARD-TYPE-02=============*/


/* DISABLE VIEW*/

.card-type-02 .product-measure,
.card-type-02 .card-info-row.weight-info {
    display: none;
}

.card-type-02 .quantity-selector,
.card-type-02 .add-to-cart-button{
    background-color: #BEBEBE;
}

.card-type-02 .product-price{
    display: none;
}

.card-type-02 .quantity-selector button {
    cursor: not-allowed;
    pointer-events: none;
}

.card-type-02 .add-to-cart-button{
    cursor: not-allowed;
    pointer-events: none;
}

.card-type-02 .quantity-selector img{
    opacity: 0.3;
}


/*ENABLE VIEW, USING "size-selected" tag*/

.card-type-02.size-selected .product-measure,
.card-type-02.size-selected .card-info-row.weight-info{
    display: block;
}



.card-type-02.size-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-02.size-selected .quantity-selector{
    background-color: var(--color08);

}

.card-type-02.size-selected .quantity-selector img {
    opacity: 1;
}

.card-type-02.size-selected .product-price{
    display: inline;
}

/*=============== CARD-TYPE-03 =================*/

/* DISABLE VIEW*/

.card-type-03 .product-measure,
.card-type-03 .product-price,
.card-type-03 .flavor-info,
.card-type-03 .weight-info,
.card-type-03 .card-flavor-selector-container{
    display: none;
}

.card-type-03 .quantity-selector,
.card-type-03 .add-to-cart-button{
    background-color: #BEBEBE;
}

/*ENABLE VIEW, USING "size-selected" tag*/

.card-type-03.size-selected .product-measure,
.card-type-03.size-selected .product-price {
    display: inline;
}

.card-type-03.size-selected .weight-info{
    display: block;
}

.card-type-03.size-selected.flavor-selected .flavor-info{
    display: block;
}

.card-type-03.size-selected .card-flavor-selector-container{
    display: block;
}

.card-type-03.size-selected.flavor-selected .card-flavor-selector-container{
    display: block;
}

.card-type-03.size-selected.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-03.size-selected.flavor-selected .quantity-selector{
    background-color: var(--color08);
}

/*================CARD-TYPE-04=============*/

/* DISABLE VIEW*/
.card-type-04 .quantity-selector,
.card-type-04 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/
.card-type-04.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-04.flavor-selected .quantity-selector{
    background-color: var(--color08);
}

/*================CARD-TYPE-05=============*/

/* DISABLE VIEW*/

.card-type-05 .card-info-row.flavor-info,
.card-type-05 .price-measure {
    display: none;
}

.card-type-05 .quantity-selector,
.card-type-05 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/
.card-type-05.flavor-selected .price-measure{
    display: inline;
}

.card-type-05.flavor-selected .card-info-row.flavor-info{
    display: block;
}

.card-type-05.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

.card-type-05.flavor-selected .quantity-selector{
    background-color: var(--color08);
}

/*================CARD-TYPE-06=============*/

.product-card.card-type-06 .card-flavor-selector-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 1rem;
}

.product-card.card-type-06 .card-info-row .product-info{
    font-size: 1.2rem;
    font-weight: normal;
    font-style: normal;
}

/* DISABLE VIEW*/

.card-type-06 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-06.all-flavors-selected .add-to-cart-button{
    background-color: #229537;
}

/*================CARD-TYPE-07=============*/

/* DISABLE VIEW*/

.product-card.card-type-07 .card-name-price-container .price-measure,
.product-card.card-type-07 .card-info-row.weight-info,
.product-card.card-type-07 .card-flavor-selector-container,
.product-card.card-type-07 .card-info-row.flavor-info{
    display: none;
}

.card-type-07 .add-to-cart-button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-07.size-selected .card-info-row.weight-info,
.product-card.card-type-07.size-selected .card-flavor-selector-container{
    display: block;
}

.product-card.card-type-07.size-selected.flavor-selected .card-info-row.flavor-info,
.product-card.card-type-07.size-selected.flavor-selected .price-measure{
    display: block;
}

.product-card.card-type-07.size-selected.flavor-selected .add-to-cart-button{
    background-color: #229537;
}

/*================CARD-TYPE-08=============*/


.card-type-08 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-size-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

.card-price-button{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-price-button .price-measure{
    justify-self: start;
    margin: 0px;
}

/* DISABLE VIEW*/

.product-card.card-type-08 .card-info-row.weight-info{
    display: none;
}

.product-card.card-type-08 .card-price-button button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.product-card.card-type-08.size-selected .card-info-row.weight-info{
    display: block;
}

.product-card.card-type-08.size-selected .card-price-button button{
    background-color: #229537;
}



/*================CARD-TYPE-09=============*/

.card-style-selector-container{
    display: grid;
    grid-template-columns: auto auto;
}
.card-type-09 .card-info-row.weight-info .product-info,
.card-type-09 .card-info-row.flavor-info .product-info{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.card-style-selector-container .style-button{
    background-color: var(--color08);
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0 1rem;
    margin-bottom: 0px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    height: 2.5rem;
    cursor: pointer;

    font-family: 'LouisGeorgeCafe', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    color: white;

    transition: background-color 0.6s ease,
                color 0.6s ease;
}

.card-style-selector-container .style-button.button-selected{
    background-color: var(--color03);
    color: white;
}


/* DISABLE VIEW*/

.card-type-09 .card-info-row.weight-info{
    display: none;
}

.card-type-09 .card-price-button button{
    background-color: #BEBEBE;
}

.card-type-09 .card-size-options-selector-container{
    display: none;
}

/* ENABLE VIEW*/

.card-type-09.style-selected .card-size-options-selector-container{
    display: grid;
}
.card-type-09.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-09.style-selected.size-selected .card-price-button button{
    background-color: #229537;
}

/*================CARD-TYPE-10=============*/

.card-extra-options-selector-container{
    display: grid;
    margin: 0 1rem;
}

/* DISAABLE VIEW*/

.card-type-10 .card-info-row.weight-info,
.card-type-10 .card-extra-options-selector-container,
.card-type-10 .card-size-options-selector-container{
    display: none;
}

.card-type-10 .card-price-button button{
    background-color: #BEBEBE;
}

/* ENABLE VIEW*/

.card-type-10.style-selected .card-size-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-extra-options-selector-container{
    display: grid;
}

.card-type-10.style-selected.size-selected .card-info-row.weight-info{
    display: block;
}

.card-type-10.style-selected.size-selected.extra-selected .card-price-button button{
    background-color: #229537;
}


/*===================================================
            TABLET VIEW: min-width: 1024px.
=====================================================*/

@media (min-width: 1024px){

    /*=======================================
                    HEADER  
    =======================================*/

    header{
        display: grid;
        grid-template-columns: 1fr auto;

    }

    .header-left-segment{
        display: flex;

        align-items: center;

        gap: 40px;

        grid-template-columns: none;
        width: auto;
    }

    .header-logo{
        justify-self: start;
        
    }

    .header-right-segment{
        display: block;
    }

    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;
    }

   .header-actions-tablet{
        display: flex;
        gap: 40px;
        margin: 10px;

    }

    .header-actions-tablet img{
        width: 25px;
    }

    .header-cart,
    .header-info-bars{
        display: none;
    }

    /*=======================================
                    CARD
    =======================================*/
    .menu-grid{
        display: block;
        column-count: 3;
    
        grid-template-columns: none;
    }

    .product-card{
        break-inside: avoid;
        margin-bottom: 1.5rem ;
        gap: 1rem;
    }

}

/*===================================================
            DESKTOP VIEW: min-width: 1440x.
=====================================================*/
@media (min-width: 1440px){


/*=======================================
                HEADER
=======================================*/

    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;

        transition: color 0.5s ease,
                    transform 0.5s ease;
    }

    .header-links-tablet a:hover {
        color: var(--color03);
        cursor: pointer;

        transform: scale(1.05);
    }


/*=======================================
                SLIDER
=======================================*/

    .container {
        display: grid;
        grid-template-columns: 48rem 1fr;
        padding: 1rem;
        gap: 2rem;
        align-items: start;
    }

    .slider {
        aspect-ratio: 16 / 12;
    }

    .slider-wrapper{
        margin: 0;
        width: 65vw;
        max-width: 48rem;
    }

/*=======================================
            SIDE-IMAGE
=======================================*/
    .slider-wrapper:hover{
        transform: scale(1.015);
    }

    .side-images{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        padding: 0 0.5rem 0.5rem 0.5rem ;

    }

    .side-images img{
        border-radius: 1rem;
        max-width: 17.15rem;
        

    }

    .side-images-pair {
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: snow;
        border-radius: 1rem;
        transition: transform 1s ease;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); 
        gap: 15px;

    }

    .side-images-pair:hover{
        transform: scale(1.015);

    }

    .side-images-pair .text-content h1{
        font-family: 'LouisGeorgeCafe', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        
    }

    .side-images-pair .text-content p{
        font-family: 'LouisGeorgeCafe', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        
    }

    .main-menu ul {
        gap: 15rem
    }

    .main-menu li a {
        display: inline-block;
        transition: background-color 0.6s ease, 
                    color 0.3s ease,
                    transform 0.6s ease;

    }

    .main-menu li a:hover {
        transform: scale(1.15);
        cursor: pointer;

    }

    /*=======================================
                    CARDS
    =======================================*/
    .menu-grid{
        column-count: 4;
    }

    .product-card{
        transition: transform 0.6s ease;
    }

    .product-card:hover{
        transform: scale(1.015);

    }

}