:root{
    --color01: #c37960;
    --color02: #f0d7a7;
    --color03: #894e3f;
    --color04: #eee1ba;
    --color05: #9c634f;
    --color06: #fff0db;
    --color07: #faf0e6;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    background-color: wheat;
    margin: 0px;   

}


header{
    display: grid;
    align-items: center;
    background-color: white;
       
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.header-left-segment {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;

}

.header-left-segment nav{
    justify-self: start;
}


.header-logo{
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;

    justify-self: center;
}


.header-info-bars{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;
    
    justify-self: start;

}

.header-info-bars img{
    width: 25px;
    display: block;

}

.header-cart{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;

    justify-self: end;

}

.header-cart img{
    width: 25px;
    display: block;


}

.header-actions-tablet {
    display: none;
}

.header-right-segment {
    display: none;
}

.header-links-tablet{
    display: none;
}

.container {
    display: block;
    padding: 1rem;  
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.slider::-webkit-scrollbar {
    display: none;

}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:  1.25rem;
    left: 50%;
    transform:  translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover {
    opacity: 1;
}

.side-images{
    display: none;
}

.main-menu {
    background-color: white;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;

    margin-top: 1rem;

}

.main-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap:3rem;
}

.main-menu li a{
    padding: 5px;
    text-decoration: none;

    font-family: 'LouisGeorgeCafe', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: black;

    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-menu li a.active-category {
    background-color: #894e3f;
    color: white;
}





/*===================================================
            TABLET VIEW: min-width: 1024px.
=====================================================*/

@media (min-width: 1024px){

    header{
        display: grid;
        grid-template-columns: 1fr auto;

    }

    .header-left-segment{
        display: flex;

        align-items: center;

        gap: 40px;

        grid-template-columns: none;
        width: auto;
    }

    .header-logo{
        justify-self: start;
        
    }

    .header-right-segment{
        display: block;
    }



    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;
    }

   .header-actions-tablet{
        display: flex;
        gap: 40px;
        margin: 10px;

    }

    .header-actions-tablet img{
        width: 25px;
    }

    .header-cart,
    .header-info-bars{
        display: none;
    }

}

/*===================================================
            DESKTOP VIEW: min-width: 1440x.
=====================================================*/
@media (min-width: 1440px){

    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;

        transition: color 0.5s ease,
                    transform 0.5s ease;
    }

    .header-links-tablet a:hover {
        color: var(--color03);
        cursor: pointer;

        transform: scale(1.05);
    }

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 1rem;
        gap: 2rem;
        align-items: start;
    }

    .slider {
        aspect-ratio: 16 / 12;
    }

    .slider-wrapper{
        margin: 0;
        width: 65vw;
        max-width: 48rem;
    }

    .side-images{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        padding: 0 0.5rem 0.5rem 0.5rem ;

    }

    .side-images img{
        border-radius: 1rem;
        max-width: 17.15rem;
        

    }

    .side-images-pair {
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: snow;
        border-radius: 1rem;
        transition: transform 1s ease;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); 
        gap: 15px;

    }

    .side-images-pair:hover{
        transform: scale(1.015);

    }

    .side-images-pair .text-content h1{
        font-family: 'LouisGeorgeCafe', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        
    }

        .side-images-pair .text-content p{
        font-family: 'LouisGeorgeCafe', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        
    }

    .main-menu ul {
        gap: 15rem
    }

    .main-menu li a {
        display: inline-block;
        transition: background-color 0.6s ease, 
                    color 0.3s ease,
                    transform 0.6s ease;

    }

    .main-menu li a:hover {
        transform: scale(1.15);
        cursor: pointer;
        background-color: wheat;
        color: white;

    }
}