:root{
    --color01: #c37960;
    --color02: #f0d7a7;
    --color03: #894e3f;
    --color04: #eee1ba;
    --color05: #9c634f;
    --color06: #fff0db;
    --color07: #faf0e6;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    background-color: wheat;
    margin: 0px;   

}


header{
    display: grid;
    align-items: center;
    background-color: white;
       
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.header-left-segment {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;

}

.header-left-segment nav{
    justify-self: start;
}


.header-logo{
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;

    justify-self: center;
}


.header-info-bars{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;
    
    justify-self: start;

}

.header-info-bars img{
    width: 25px;
    display: block;

}

.header-cart{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;

    justify-self: end;

}

.header-cart img{
    width: 25px;
    display: block;


}


.header-actions-tablet {
    display: none;
}

.header-right-segment {
    display: none;
}

.header-links-tablet{
    display: none;
}




/*===================================================
            TABLET VIEW: min-width: 768px.
=====================================================*/

@media (min-width: 768px){

    header{
        display: grid;
        grid-template-columns: 1fr auto;

    }

    .header-left-segment{
        display: flex;

        align-items: center;

        gap: 40px;

        grid-template-columns: none;
        width: auto;
    }

    .header-logo{
        justify-self: start;
        
    }

    .header-right-segment{
        display: block;
    }



    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;
    }

   .header-actions-tablet{
        display: flex;
        gap: 40px;
        margin: 10px;

    }

    .header-actions-tablet img{
        width: 25px;
    }

    .header-cart,
    .header-info-bars{
        display: none;
    }

}


/*===================================================
            DESKTOP VIEW: min-width: 1024px.
=====================================================*/

@media (min-width: 1024px){

    .header-links-tablet{
        display: flex;
        gap: 40px
    }

    .header-links-tablet a{
        text-decoration: none;

        font-family: 'LouisGeorgeCafe', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        color: black;

        transition: color 0.5s ease,
                    transform 0.5ms ease;
    }

.header-links-tablet a:hover {
    color: var(--color03);
    cursor: pointer;

    transform: scale(1.05);


}






}