:root{
    --color01: #c37960;
    --color02: #f0d7a7;
    --color03: #894e3f;
    --color04: #eee1ba;
    --color05: #9c634f;
    --color06: #fff0db;
    --color07: #faf0e6;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('fontes/Louis\ George\ Cafe\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    background-color: wheat;
    margin: 0px;   

}


header{
    display: grid;
    align-items: center;
    background-color: white;
       
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.header-left-segment {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;

}

.header-left-segment nav{
    justify-self: start;
}


.header-logo{
    font-family: 'LouisGeorgeCafe', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;

    justify-self: center;
}


.header-info-bars{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;
    
    justify-self: start;

}

.header-info-bars img{
    width: 25px;
    display: block;
    padding: 0px;
}

.header-cart{
    margin: 15px;
    border: none;
    background: none;
    font-size: 0px;
    padding: 0px;
    cursor: pointer;

    justify-self: end;

}

.header-cart img{
    width: 25px;
    display: block;
    padding:  0px;
    margin: 0px;

}


.header-actions-tablet {
    display: none;
}

.header-right-segment {
    display: none;
}




/*===================================================
            TABLET VIEW: min-width: 768px.
=====================================================*/

@media (min-width: 768px){

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .header-logo{
        justify-self: start;

    }

    .header-info-bars{
        display: none;


    }

    .header-cart {
        display: none;
    }

    .header-actions-tablet img {
        width: 20px;

    }

    




}