* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}


body{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: repeat(4,auto);

}

header{
    grid-column: 1 / 4;
    background-color: aquamarine;

}