/*=================================================================
                            GLOBAL STYLES
===================================================================*/


:root{
    --color03: #82652F;
    --color08: #D9B167;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('/fontes/LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('/fontes/LouisGeorgeCafeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('/fontes/LouisGeorgeCafeLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('/fontes/LouisGeorgeCafeItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('/fontes/LouisGeorgeCafeBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url(/fontes/Inter-ExtraBold.woff2) format('woff2');
    font-weight: bolder;
    font-style: normal;
}


body {
    background-color: var(--color08);
    margin: 0px;
    font-family: 'LouisGeorgeCafe', sans-serif;
}

button, 
select, 
input {
    font-family: inherit;
}