/*=======================================
            MENU SELECTION
=======================================*/


.main-menu {
    background-color: white;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.main-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap:3rem;
}

.main-menu li a{
    padding: 0.5rem;
    text-decoration: none;

    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: black;

    border-radius: 1.5rem;
    transition: background-color 0.6s ease, color 0.3s ease;
}

.main-menu li a.active-category {
    background-color: var(--color03);
    color: white;
}

.category-section{
    display: none;
}

.category-section.category-visible{
    display: block;
}


/*===================================================
MENU SELECTION - DESLTOP-VIEW: min-width: 1440px
===================================================*/

@media (min-width: 1440px){

    .main-menu ul {
        gap: 15rem
    }

    .main-menu li a {
        display: inline-block;
        transition: background-color 0.6s ease, 
                    color 0.3s ease,
                    transform 0.6s ease;

    }

    .main-menu li a:hover {
        transform: scale(1.15);
        cursor: pointer;
    }


}