/*=======================================
                SLIDER
=======================================*/


.container {
    display: block;
    padding: 1rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.slider::-webkit-scrollbar {
    display: none;

}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:  1.25rem;
    left: 50%;
    transform:  translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover {
    opacity: 1;
}

.side-images{
    display: none;
}


/*===================================================
SLIDER & SIDE-IMAGE - DESLTOP-VIEW: min-width: 1440px
===================================================*/

@media (min-width: 1440px){

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;
    }

    .slider-wrapper{
        margin: 0;
        width: 65vw;
        max-width: 100%;
        transition: transform ease 1s;
        
    }

    .slider-wrapper:hover{
        transform: scale(1.015);
    }

    .slider {
        aspect-ratio: 4 / 3;
        max-height: 100%;
    }

    .side-images{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        justify-items: center;
        align-items: center;
        height: 48.75vw;
    }

    .side-images-pair {
        display: grid;
        grid-template-columns: auto;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        min-height: 0;
        overflow: hidden;

        transition: transform 1s ease;
    }

    .side-images-pair:hover{
        transform: scale(1.015);
    }

    .side-images-pair img{
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
 
    .side-images-pair .text-content h1{
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
    }

    .side-images-pair .text-content p{
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
    }

}